---
import CloseIcon from "#assets/icons/close.svg";

const { focus } = Astro.locals.texts;
---

<style is:inline>
	section:is(.focus) {
		padding-block: 100px !important;

		& > h1.focus-title {
			font-size: 2.6em;
			text-align: center;
			margin-bottom: 30px;
		}
	}

	section:is(.focus) > .features-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 40ch), 1fr));
		gap: 15px;

		& > .feature {
			padding: 20px;
			background-color: rgb(13, 13, 13);
			border-radius: 10px;
			border: 1px solid rgb(30, 30, 30);

			& > h1 {
				font-size: 1.7em;
				display: flex;
				align-items: center;
				gap: 7px;
				margin-bottom: 10px;
			}

			& > p {
				line-height: 2;
			}
		}
	}

	@media(width <= 1000px) {
		section:is(.focus) > h1.focus-title {
			font-size: 2.1em;
		}
	}

	@media (width <= 350px) {
		section:is(.focus) > .features-container > .feature {
			h1 {
				font-size: 1.3em;
			}
		}
	}
</style>

<section class="focus">
	<h1 class="focus-title">{focus.title}</h1>
	<div class="features-container">
		<div class="feature">
			<h1><CloseIcon style="height: 1lh; width: 1lh;" />{focus.noAds.title}</h1>
			<p>
				{focus.noAds.description}
			</p>
		</div>
		<div class="feature">
			<h1>
				<CloseIcon style="height: 1lh; width: 1lh;" />{focus.noLogins.title}
			</h1>
			<p>
				{focus.noLogins.description}
			</p>
		</div>
		<div class="feature">
			<h1>
				<CloseIcon style="height: 1lh; width: 1lh;" />{
					focus.noInterruptions.title
				}
			</h1>
			<p>
				{focus.noInterruptions.description}
			</p>
		</div>
	</div>
</section>

