---
import BaseSection from "@components/BaseSection.astro";
import Effect from "@components/Effect";
import AirplaneIcon from "@components/icons/Airplane";
import BirdIcon from "@components/icons/Bird";
import CafeIcon from "@components/icons/Cafe";
import FireplaceIcon from "@components/icons/Fireplace";
import LeafIcon from "@components/icons/Leaf";
import RainyIcon from "@components/icons/Rainy";
import TrainIcon from "@components/icons/Train";
import WavesIcon from "@components/icons/Waves";

const { mixer } = Astro.locals.texts;

const effectsConfig = [
	{ id: "rain", title: mixer.sounds.rain, icon: RainyIcon },
	{ id: "airplane", title: mixer.sounds.flight, icon: AirplaneIcon },
	{ id: "coffee", title: mixer.sounds.cafe, icon: CafeIcon },
	{ id: "sea", title: mixer.sounds.sea, icon: WavesIcon },
	{ id: "birds", title: mixer.sounds.birds, icon: BirdIcon },
	{ id: "crickets", title: mixer.sounds.crickets, icon: LeafIcon },
	{ id: "fire", title: mixer.sounds.fireplace, icon: FireplaceIcon },
	{ id: "train", title: mixer.sounds.train, icon: TrainIcon },
];
---

<style lang="scss">
	@use "#variables.scss" as *;

	.base-section__container {
		padding-block: 50px;
		position: relative;
	}

	.effect-container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(min(100%, 25ch), 1fr));
		grid-auto-rows: 270px;
		gap: 30px;
		margin-top: 20px;

		& > .effect-item {
			display: grid;
		}
	}

	@media (max-width: 670px) {
		.base-section__container {
			padding: 30px 0;
		}

		.base-section__container h1 {
			letter-spacing: 0.06em;
		}
		.base-section__container p {
			line-height: 1.6lh;
		}
	}

	.backdrop-circle {
		background-color: $color-primary;
		top: 0;
		left: -150px;
		position: absolute;
		width: 300px;
		height: 300px;
		border-radius: 50%;
		filter: blur(100px);
		pointer-events: none;
		opacity: .3;
	}
</style>

<BaseSection color="rgb(20, 20, 20)">
	<div class="base-section__container">
		<div class="backdrop-circle"></div>
		<h1 id="mixer">{mixer.title}</h1>
		<p>{mixer.description}</p>
		<div class="effect-container">
			{
				effectsConfig.map(({ id, title, icon: Icon }) => (
					<div class="effect-item">
						<Effect
							client:visible
							effectTitle={title}
							effectStatus={mixer.effectStatus}
							playlistId={id}>
							<Icon />
						</Effect>
					</div>
				))
			}
		</div>
	</div>
</BaseSection>
