---
import Layout from "../layouts/Layout.astro";
import HeroSection from "@components/sections/Hero.astro";
import MixerSection from "@components/sections/Mixer.astro";
import QuoteSection from "@components/sections/Quote.astro";
import FocusSection from "@components/sections/Focus.astro";
import SpiritSection from "@components/sections/Spirit.astro";

const { meta } = Astro.locals.texts;
---

<Layout title="Litora" description={meta.index.description}>
	<Fragment slot="head">
		<!-- Primary Meta Tags -->
		<meta name="title" content={meta.index.title} />

		<!-- Viewport and Charset -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<!-- SEO Keywords -->
		<meta
			name="keywords"
			content="litora, litora mixer, the sound of productivity, litora rest, ambient sounds, productivity, sound mixer, focus, study, relax, rain noise, café ambience, nature audio, free soundboard"
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://litora.rest/" />
		<meta property="og:title" content={meta.index.title} />
		<meta property="og:description" content={meta.index.description} />
		<meta
			property="og:image"
			content="https://litora.rest/litora-og-image.png"
		/>

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:url" content="https://litora.rest/" />
		<meta name="twitter:title" content={meta.index.title} />
		<meta name="twitter:description" content={meta.index.description} />
		<meta
			name="twitter:image"
			content="https://litora.rest/litora-og-image.png"
		/>

		<!-- Theme Color -->
		<meta name="theme-color" content="#101010" />

		<!-- Author -->
		<meta name="author" content="Litora Project" />
	</Fragment>

	<main class="wrapper">
		<HeroSection />
		<MixerSection />
	</main>
</Layout>
